<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <h1>Claim KOIN</h1>
      <p>
        Move your WKOINs from Hive to the native KOINs in Koinos blockchain.
      </p>
      <p>
        Please note that the snapshot of the WKOIN balances has been taken on
        Oct 31th 2022. After this date refrain from trading WKOIN in Hive Engine
        as they will not have value.
      </p>
      <div class="form">
        <div class="text">Insert the secret received in your Hive account</div>
        <input type="text" v-model="secret" />
        <div
          class="result"
          v-if="result1"
          :class="{
          success: success1,
          fail: !success1
        }"
        >
          {{result1}}
        </div>
      </div>
      <div class="form">
        <div class="button">
          <button @click="connectKondor()" :disabled="loading2">
            Connect Kondor <span v-if="loading2" class="loader"></span>
          </button>
        </div>
        <div
          class="result"
          v-if="result2"
          :class="{
          success: success2,
          fail: !success2
        }"
        >
          {{result2}}
        </div>
      </div>
      <div class="form">
        <div class="button">
          <button @click="claimKoins()" :disabled="loading3">
            Claim Koins <span v-if="loading3" class="loader"></span>
          </button>
        </div>
        <div
          class="result"
          v-if="result3"
          :class="{
          success: success3,
          fail: !success3
        }"
        >
          {{result3}}
        </div>
      </div>
      <div>{{message}}</div>
    </div>
    <script src="js/kondor.js"></script>
    <script src="js/koinos.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;
      const wkoinClaimContractAddress = "1CaZhqZN9yqXZZseJzcG1aaYT5GN7PBqmH";
      let defaultKoinosProvider = "https://api.koinosblocks.com";

      createApp({
        data() {
          return {
            secret: "",
            secretAddress: "",
            koinAddress: "",
            result1: "",
            result2: "",
            result3: "",
            message: "",
            success1: true,
            success2: true,
            success3: true,
            loading1: false,
            loading2: false,
            loading3: false,
            abi: {},
          };
        },

        watch: {
          secret: function (val) {
            this.consultClaim();
          },
        },

        mounted() {
          setTimeout(this.consultGeneralInfo, 1000);
          fetch("claimwkoin-abi.json")
            .then((res) => res.json())
            .then((data) => {
              this.abi = data;
            });
        },

        methods: {
          getClaimContract: function (option) {
            const provider = kondor.provider;
            // const provider = new Provider([defaultKoinosProvider]);
            return new Contract({
              id: wkoinClaimContractAddress,
              abi: this.abi,
              provider,
            });
          },

          consultGeneralInfo: async function () {
            try {
              const claimContract = this.getClaimContract().functions;
              const { result: info } = await claimContract.get_info({});
              console.log(info);
            } catch (error) {
              this.message = `General info error: ${error.message}`;
            }
          },

          consultClaim: async function () {
            try {
              this.result1 = "";
              this.loading1 = true;
              const secretAddress = Signer.fromWif(this.secret).address;
              const claimContract = this.getClaimContract().functions;
              const { result: claim } = await claimContract.get_balance({
                account: secretAddress,
              });

              if (!claim) {
                throw new Error(`No claim data found for this secret`);
              }

              this.result1 = `${utils.formatUnits(
                claim.token_amount,
                8
              )} Koins ${
                claim.claimed ? "already claimed" : "ready to be claimed"
              }`;
              this.success1 = true;
              this.loading1 = false;
            } catch (error) {
              this.result1 = error.message;
              this.success1 = false;
              this.loading1 = false;
            }
          },

          connectKondor: async function () {
            try {
              this.result2 = "";
              this.loading2 = true;
              this.koinAddress = "";
              const accounts = await kondor.getAccounts();
              if (accounts.length === 0) throw new Error("No account selected");
              this.koinAddress = accounts[0].address;
              this.result2 = this.koinAddress;
              this.success2 = true;
              this.loading2 = false;
            } catch (error) {
              this.result2 = error.message;
              this.success2 = false;
              this.loading2 = false;
            }
          },

          claimKoins: async function () {
            try {
              this.result3 = "";
              this.loading3 = true;
              const claimContract = this.getClaimContract();
              claimContract.signer = Signer.fromWif(this.secret);
              claimContract.signer.provider = claimContract.provider;
              console.log(claimContract.signer.address);
              const { result } = await claimContract.functions.get_balance({
                account: claimContract.signer.address,
              });
              console.log(result);
              const { transaction, receipt } =
                await claimContract.functions.claim(
                  {
                    account: claimContract.signer.address,
                    beneficiary: this.koinAddress,
                  },
                  {
                    payer: wkoinClaimContractAddress,
                  }
                );
              console.log(receipt);
              this.result3 = `Transaction submitted. Waiting to be mined...`;
              const { blockNumber } = await transaction.wait();
              this.result3 = `Congratulations! your koins were claimed in the account ${this.koinAddress}`;
              this.success3 = true;
              this.loading3 = false;
            } catch (error) {
              this.result3 = error.message;
              this.success3 = false;
              this.loading3 = false;
            }
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
